*,
:after,
::before {
    box-sizing: border-box;
    border: 0 solid rgb(229, 231, 235);
}

*,
body {
    margin: 0;
    padding: 0;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}